<div class="unit-5 overlay" style="background-image: url('images/hero_1.jpg');">
      <div class="container text-center">
        <h2 class="mb-0">Se connecter</h2>
        <p class="mb-0 unit-6"><a href="<%= root_path %>">Accueil</a> <span class="sep">></span> <span>Connexion</span></p>
      </div>
</div>
    <!-- END section -->
    
    <section class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7">
           
              <center><h2>Connectez-vous à votre compte</h2></center>
              <%= form_for(:sessions, url: login_path) do |t| %>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <center><%= t.label :email, "Email" %></center>
                    <%= t.email_field :email, class:"form-control" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <center><%= t.label :password, "Mot de passe" %></center>
                    <%= t.password_field :password, class:"form-control" %>
                  </div>
                </div>

                <center>
             
                  <div class="col-md-6 form-group">
                  	<%= t.submit "se connecter", class:"btn btn-primary px-5 py-2" %>
                  </div>
                
                </center>
              <% end %>
            
          </div>
        </div>
      </div>
    </section>

<!-- <h1>Sessions#new</h1>
      
<% if flash[:error] || flash[:notice] %>
  	<script type="text/javascript">alert(<%= flash[:error] %> <%= flash[:notice] %>)</script>
<% end %>

<%= form_for(:sessions, url: login_path) do |t| %>
	<%= t.label :email, "Email: " %>
	<%= t.email_field :email %><br>

	<%= t.label :password, "Mot de passe" %>
	<%= t.password_field :password %><br>

	<%= t.submit "se connecter" %>
<% end %> -->