<div class="unit-5 overlay" style="background-image: url(../images/fondvert.jpg);">
      <div class="container text-center">
        <h2 class="mb-0">Trouver le meilleur</h2>
        <p class="mb-0 unit-6"><a href="<%= root_path %>">Accueil</a> <span class="sep">></span> <span>Trouver le meilleur</span></p>
      </div>
</div>

    
<div class="site-section bg-light">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">Info contact</h3>

              <p class="mb-0 font-weight-bold">Télephone</p>
              <p class="mb-4"><a href="mailto:zaraomadagascar@gmail.com">+261 33 08 157 33</a></p>

              <p class="mb-0 font-weight-bold">Adresse email</p>
              <p class="mb-0"><a href="mailto:zaraomadagascar@gmail.com">zaraomadagascar@gmail.com</a></p>

            </div>
            
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">Plus d'info</h3>
              <p>Besoin d'aide? Contactez nous.</p>
            </div>
          </div>
          
          <div class="col-md-12 col-lg-8 mb-5">
          
            
          
            <div class="p-5 bg-white">
            	<%= form_for @user do |t| %>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                	<%= t.label :firstname, "Nom: ", class:"font-weight-bold" %>
					<%= t.text_field :firstname, class:"form-control" %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  	<%= t.label :lastname, "Prénom: ", class:"font-weight-bold" %>
					<%= t.text_field :lastname, class:"form-control" %>
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  	<%= t.label :email, "Email: ", class:"font-weight-bold" %>
					<%= t.email_field :email, class:"form-control" %>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  	<%= t.label :password, "Mot de passe: ", class:"font-weight-bold" %>
					<%= t.password_field :password, class:"form-control" %>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  	<%= t.label :password_confirmation, "Confirmer le mot de passe: ", class:"font-weight-bold" %>
					<%= t.password_field :password_confirmation, class:"form-control" %>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  	<%= t.label :telephone, "N° telephone: ", class:"font-weight-bold" %>
					<%= t.text_field :telephone, class:"form-control" %>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                	<%= t.submit "Inscription", class:"btn btn-primary pill px-4 py-2" %>
                </div>
              </div>

  				<% end %>
            </div>
          </div>

          
        </div>
      </div>
</div>

    <div class="py-5 quick-contact-info">
      <div class="container">
        <div class="row">
          <div class="col-md-6" style="padding-left: 150px;">
            <div>
              <h2><span class="icon-room"></span> Location</h2>
              <p class="mb-0">ANTANANARIVO <br>  Lotissement Bonnet Ivandry</p>
            </div>
          </div>
          <div class="col-md-6" style="padding-left: 150px;">
            <div>
              <h2><span class="icon-clock-o"></span> Ouverture</h2>
              <p class="mb-0">Mercredi à 6:30PM - 7:30PM <br>
              Jeudi à 8:00AM - 7:30PM <br>
              Samedi à 8:00AM - 12:00AM </p>
            </div>
          </div>
        </div>
      </div>
    </div>
