
<% if @user.pdp1.attached? %>
	<%= image_tag @user.pdp1.variant(resize: "400x400") %>
<% else %>
	<img src="int.jpg" height= "150">
<% end %>

<p>Nom: <%= @user.firstname %></p><br>
	
<p>Prenom: <%= @user.lastname %></p><br>
	
<p>Email: <%= @user.email %></p><br>
	
<p>N telephone: <%= @user.telephone %></p><br>

<p><%= link_to "modifier", edit_userservice_path(@user.id) %></p>