<% if uroot %>
	<style type="text/css">
		table{
			margin-left: 124px;
			border: 2px solid black;
		}

		td {
			text-align: center;
			width: 350px;
			border: 2px solid black;
			border-collapse: collapse;
		}	
	</style>
<% else %>
	<style type="text/css">
		table{
			margin-left: 124px;
			border: 2px solid black;
		}

		td {
			text-align: center;
			width: 525px;
			border: 2px solid black;
			border-collapse: collapse;
		}	
	</style>
<% end %>

<table>
	<tr>
		<td>prénom</td>
		<td>description</td>
		<% if uroot %>
			<td>effacer</td>
		<% end %>	
	</tr>
	<tr>
		<td colspan="3">liste des demandeur</td>
	</tr>
	<tr>
		<% @user.each do |x| %>
			<td><%= x.lastname %></td>
			<td><%= x.description %></td>
			<% if uroot %>
				<td><%= link_to "effacer", x, method: :delete, data: {confirm: "etes-vous sure d'effacer ce profil?"} %></td>
			<% end %>	
		<% end %>
	</tr>
	<% if uroot %>	
		<tr>
			<td colspan="3">liste des offreur</td>
		</tr>
		<tr>
			<% @user1.each do |y| %>
				<td><%= y.lastname %></td>
				<td><%= y.email %></td>
				<% if uroot %>
					<td><%= link_to "effacer", y, method: :delete, data: {confirm: "etes-vous sure d'effacer ce profil?"} %></td>
				<% end %>	
			<% end %>
		</tr>
	<% end %>
</table>