<h1>USERJOB</h1>

<%= form_for @user do |t| %>
	
	<%= t.label :firstname, "Nom: " %>
	<%= t.text_field :firstname %><br>

	<%= t.label :lastname, "Prenom: " %>
	<%= t.text_field :lastname %><br>

	<%= t.label :email, "Email: " %>
	<%= t.email_field :email %><br>

	<%= t.label :password, "Mot de passe: " %>
	<%= t.password_field :password %><br>

	<%= t.label :password, "Confirmer le mot de passe: " %>
	<%= t.password_field :password_confirmation %><br>

	<%= t.label :telephone, "N telephone: " %>
	<%= t.text_field :telephone %><br>

	<%= t.label :description, "petit description de vous: " %>
	<%= t.text_area :description %><br>

	<select name="user[category]">
		<% @categories.each do |opt| %>
			<option><%= opt.title %></option>
		<% end %>
	</select><br>

	<%= t.submit "creer un compte" %>

<% end %>

