<h1>Accueil</h1>



<% @offers.each do |of| %>
	<div>
		<p>titre: <%= of.title %></p><br>
		<p>description: <%= of.description %></p><br>
		<p>prix: <%= of.price %><span>$/semaine</span></p><br>
		<p>delais: <%= of.delais %><span>semaine</span></p><br>
		<p><%= Interested.where(offer_id: of.id).length %><%= link_to "interesse", list_path(of.id) %></p>
		<% if utype %>
			<% if Interested.find_by(offer_id: of.id, userjob_id: current_user.id) %>
					<p><%= link_to "plus interesse", interested_path(of.id), method: :delete %></p>
			<% else %>
					<p><%= link_to "interesse", interesteds_path(of.id) %></p>
			<% end %>
		<% end %>
		<% if signed_in %>
			<% if Userservice.find(of.userservice_id).email == current_user.email %>
				<p><%= link_to "effacer", offer_path(of), method: :delete, data: {confirm: "voulez vous vraiment effacer cette publication?"} %></p>
			<% end %>
		<% end %>
	</div>
<% end %>


<% if (!utype || uroot) && signed_in  %>
	<%= form_for @offer do |of| %>
		<%= of.label :title, "titre: " %>
		<%= of.text_field :title %><br>
		<%= of.label :description, "description: " %>
		<%= of.text_area :description %><br>
		<%= of.label :price, "prix: " %>
		<%= of.text_field :price %><span>$/semaine</span><br>
		<%= of.label :delais, "delais du projet: " %>
		<%= of.text_field :delais %><span>semaine</span><br>
		<%= of.submit "publier" %>
	<% end %>
<% end %>