<!DOCTYPE html>
<html>
  <head>
    <title>ZARAO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      
      <% if flash[:error] || flash[:notice] %>
        <script type="text/javascript">alert("<%= flash[:error] %> <%= flash[:notice] %>")</script>
      <% end %>
      <%= render "layouts/nav" %>

      <%= yield %>
      
    </div>
  </body>
</html>
